@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Armata', sans-serif;
}

:root {
    --text-color: #55280B;
    --background-color: #F2F2F2;
    --text-color-footer: #F2F2F2;
    --background-color-footer: #55280B;
    --text-color-escolhida: #f4d565;

}


body {
    color: var(--text-color);
    background-color: var(--background-color);
}

.dark-mode {
    --text-color: #F2F2F2;
    --background-color: #55280B;
    --text-color-footer: #55280B;
    --background-color-footer: #F2F2F2;
    --text-color-escolhida: #CD6D34;
}
nav{
    width: 100%;
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
}

.index{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    height: 25vh;
    display: flex;
}

header nav ul{
    width: 100%;
    /* height: 2vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 150px;
    margin-top: 50px; */
}

header nav ul li a{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#produzimos{
    margin-right: 10%;
}

#empresas{
    margin-right: 10%;
}

#login{
    margin-right: 5%;
}

.cimabaixo{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.texto{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 37%;
    margin-top: 27%;
    width: 50%;
}

.texto p{
    font-size: 36px;
    z-index: 1;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-grow: 1;
}

.logo img{
    margin-left: 12%;
    width: 125px;
    max-width: 100%;
}

.parte_esquerda{
    position: absolute;
    margin-left: 10%;
}

.parte_esquerda h1{
    margin: 0px 0px 0px 50px;
    font-size: 48px;
    text-align: right;
    color: var(--text-color);
}

.parte_esquerda img{
    width: 600px;
}

#cima{
    border-left: 10px solid #386F53;
    border-right: 10px solid #386F53;
    border-bottom: 10px solid #386F53;
}

#baixo{
    border-left: 10px solid #386F53;
    border-right: 10px solid #386F53;
    border-top: 10px solid #386F53;

}
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 95px;
    transform: rotate(90deg);
    margin-left: 2.5%;
    /* margin-top: 10%; */
    margin-bottom: 3%;
  }
  
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--background-color-footer);
-webkit-transition: .4s;
transition: .4s;
}


.slider:before {
position: absolute;
content: "";
height: 45px;
width: 45px;
left: 7px;
bottom: 7px;
background-color: var(--text-color-footer);
;
-webkit-transition: .4s;
transition: .4s;
}


input:checked + .slider {
background-color: #F2F2F2;
}


input:focus + .slider {
box-shadow: 0 0 1px #F2F2F2;
}


input:checked + .slider:before {
-webkit-transform: translateX(45px);
-ms-transform: translateX(45px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 50px;
}

.slider.round:before {
border-radius: 50%;
}




.carrossel-geral{
    position: absolute;
    right: 13.5%;
    top: 20%;
    max-width: 600px;
    max-height: 400px;
    width: auto;
    height: auto;
    overflow: visible;
}

.carrossel .imagem {
    display: none;
    animation: mudarImagem 1s;
    height: 450px;
    width: 450px;
}

.carrossel .imagem.ativa {
    display: block;
}

.botoes-carrossel {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carrossel .botao {
    background-color: #dc661f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: black;
}

.botoes-carrossel .botao.selecionado {
    background-color: #f4d565;
}
@keyframes mudarImagem {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}

#anuncio{
    margin: 26px 0px 26px 0px;
}

footer{
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: var(--background-color-footer);
    /* margin-top: 1vh; */
}

footer nav ul{
    width: 100%;
    min-height: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

footer nav ul li a{
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text-color-footer);
    text-decoration: none;
    display: inline-block;
    /* padding: 10px 20px; */
    border-radius: 5px;
}

.cimabaixobaixo{
    width: 42.5%;
    display: flex;
    justify-content: space-evenly;
}

#trabalhe{
    color: var(--text-color-escolhida);
}

.relogin{
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    margin-left: 2%;
}

.data{
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    margin-left: 1%;
}